@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: #181A1C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fff;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: #181A1C;
  }
}

body {
  /* color: black; */
  background: var(--background-end-rgb)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
